body {
	font-family: 'Pacifico', cursive;
	background: url('img/cream_dust.png');
}
header {
	padding-bottom: 2rem;
}
nav {
	padding: 0 2rem;
}
/*
nav {
	background: none;
	box-shadow: none;
}
*/
footer {
	padding: 8rem;
	text-align: center;
	background: #9E9;
}

main {
	padding: 4rem 0;
}

.editor {
	padding: 0 2rem;
	height: 200px;
	width: 100%;
}

::placeholder {
	color: #AAA;
}
